{% extends "base.html.twig" %}
{% block title %}
	{{pagetitle}}
{% endblock %}
{% block body %}
	<br/>
	<br/>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h2>Description de l'association</h2>
					<hr/>
					<div class="description">
						{% for DescAsso in description %}
							<div class="titre">{{DescAsso.titre}}</div>
							<div class="contenu">{{DescAsso.contenu | raw}}</div>
							<div class="image">
								<img class="img" src="{{vich_uploader_asset(DescAsso,'imageFile')}}" alt="image description" style="width: 150px;">
							</div>
							<br/>
							<br/>
						{% endfor %}
					</div>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success" role="alert">{{  message}}</div>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<h2>Évenements</h2>
					<hr/>
					<div class="evenement">
						{% for Evenements in evenement %}
							<div class="titre">
								<h4>l'association D.M.D.A Mayotte organise
									{{Evenements.titre}}
									!</h4>
							</div>
							<div class="contenu">
								{{Evenements.contenu | raw}}
								<p>le
									{{Evenements.date | date('d/m/Y - H:i')}}</p>
								<p>Pour plus de renseignement a cette evenement contactez le
									{{Evenements.telephone}}
									du lundi au vendredi de 9h30 à 17h00</p>
							</div>
							<div class="image">
								<img class="img" src="{{vich_uploader_asset(Evenements,'imageFile')}}" alt="image de l'évènement" style="width: 150px;">
							</div>
							<br/>
							<br/>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-9">
					<h2>Commentaires({{comment|length}})</h2>
					<hr/>
					<div class="comment">
						{% for Comment in comment %}
							<div class="pseudo">Publié par
								{{Comment.pseudo}}
								le
								{{Comment.createdAt | date('d/m/Y - H:i')}}</div>
							<div class="contenu">{{Comment.contenu | raw}}</div>
							<br/>
						{% else %}
							<p>Il n'y a pas encore de commentaire, publiez le premier !</p>
						{% endfor %}
					</div>
					<br/>
					<br/>
					<h4>Laissez un commentaire</h4>

					{{ form_start(form) }}

					{{ form_errors(form) }}

					<div class="form-group">
						{{ form_label(form.pseudo, "Pseudo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
						{{ form_errors(form.pseudo) }}
						<div class="col-sm-10">
							{{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
						{{ form_errors(form.email) }}
						<div class="col-sm-10">
							{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(form.contenu, "commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
						{{ form_errors(form.contenu) }}
						<div class="col-sm-10">
							{{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="form-group">

						<div class="col-sm-10">
							{{ form_label(form.rgpd) }}
							{{ form_widget(form.rgpd) }}
						</div>
						{{ form_errors(form.rgpd) }}

						<div class="form-group text-center">
							{{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
						{{ form_row(form._token)}}
						{{ form_end(form) }}

					</div>
				</div>
			</div>
			<br/>
			<br/>
		</div>
	</section>
{% endblock %}
