<footer>
	<div class="container">
		<div class="row">
			<div class="col">

				<p>
					<a href="{{ path('homepage') }}">
						<img src="{{ asset('assets/img/logofooter.png') }}" class="logo" alt="logo association"/></a>
				</p>
				<p>
					<a href="{{ path('mentions') }}">Mentions Légales</a>
				</p>
				<p>
					<a href="">Contactez-nous</a>
				</p>
				<p>
					Horaire d'ouverture:
				</p>

			</div>

			<div class="col">
				<p>
					Coordonnée
				</p>
				<p>
					Adresse
				</p>
				<p>
					Code postal
				</p>
				<p>
					Ville
				</p>
				<p>
					Téléphone
				</p>
				<p>
					Mail
				</p>
			</div>
			<div class="col">
				<p>Suivez-nous</p>
				<p>
					<a href="https://www.facebook.com/dmda.donnemoidesailes.7">
						<img src="{{ asset('assets/img/logoface.png') }}" class="logo" alt="logo facebook"/></a>
				</p>
				<p>
					<a href="https://instagram.com/association.dmda?igshid=173bk5bx5aynl">
						<img src="{{ asset('assets/img/logoinsta.png') }}" class="logo" alt="logo instagram"/></a>
				</p>
				<p>
					<a href="https://www.linkedin.com/in/association-dmda-mayotte-9565121b3/">
						<img src="{{ asset('assets/img/logolink.png') }}" class="logo" alt="logo linkeding"/></a>
				</p>
			</div>
		</div>
	</div>
	<hr/>
	<p class="copyrights">
		&copy;{{'now'| date('Y')}}
		<a href="{{ path('homepage') }}">Accueil</a>Touts droits réservées.
		<a href="{{path('app_login') }}">
			Back-office</a>
	</p>
</footer>
