<footer>
	<div class="container">
		<div class="row">
			<div class="col">

				<ul class="list">
					<li>
						<a href="{{ path('homepage') }}">
							<img src="{{ asset('assets/img/logofooter.png') }}" class="logo" alt="logo association"/></a>
					</li>
					<li>
						<a href="{{ path('mentions') }}">Mentions Légales</a>
					</li>
					<li>
						<a href="{{ path('contact') }}">Contactez-nous</a>
					</li>
					<li>
						Horaire d'ouverture:
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="list">
					<li>
						Coordonnée
					</li>
					<li>
						Adresse
					</li>
					<li>
						Code postal
					</li>
					<li>
						Ville
					</li>
					<li>
						Téléphone
					</li>
					<li>
						Mail
					</li>
				</ul>
			</div>
			<div class="col">
				<p>Suivez-nous</p>
				<ul class="list">
					<li>
						<a href="https://www.facebook.com/dmda.donnemoidesailes.7" target="_blank"><img src="{{asset('assets/img/logoface.png')}}" class="logo" alt="logo facebook"/>
						</a>
					</li>
					<li>
						<a href="https://instagram.com/association.dmda?igshid=173bk5bx5aynl" target="_blank"><img src="{{asset('assets/img/logoinsta.png')}}" class="logo" alt="logo instagram"/>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/association-dmda-mayotte-9565121b3/" target="_blank"><img src="{{asset('assets/img/logolink.png')}}" class="logo" alt="logo linkeding"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr/>
	<p class="copyrights">
		&copy;{{'now'| date('Y')}}
		<a href="{{ path('homepage') }}">Accueil</a> Tous droits réservées.
		
		<a href="{{path('app_login') }}">Back-office</a>
	</p>
</footer>
